
<h2  style="margin-left:100px ; margin-top: 50px;">List Of Trainings</h2>
<!--<mat-label style="margin-left:100px"  >Filter</mat-label>
<input matInput (keyup)="applyFilter($event)" placeholder="Recherche" #input style="margin-left:10px ; border-style: solid; width: auto;  "> -->
<div class="formation__input" >
    <div class="filter">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Keywords</mat-label>
        <input matInput (keyup)="applyFilter($event)"  placeholder="Ex. Name formation , ">
    </mat-form-field>
    </div>
    <div>
    <button *ngIf="templateadmin" routerLink="/FormPub"   mat-raised-button color="primary"  >
        create new
    </button>
</div>
</div>

<!--<div *ngIf="templateadmin" fxLayout="row" fxLayoutAlign="end center">
    <button *ngIf="templateadmin" routerLink="/FormPub" class="btn btn-primary">
        create new
    </button>
</div>-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nomFormation">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Training Name </th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.nomFormation}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nomFormateur">
        <th mat-header-cell *matHeaderCellDef> Name of Trainer </th>
        <td mat-cell *matCellDef="let element"> {{element.nomFormateur}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="niveau">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Level </th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.niveau}} </td>
    </ng-container>
    <ng-container matColumnDef="certification">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Certification </th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.certification}} </td>
    </ng-container>
    <ng-container matColumnDef="duree">
        <th mat-header-cell class="px-12" *matHeaderCellDef> Duration</th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.duree }} </td>
    </ng-container>



    <!--stickyEnd ma3neh dima ijiblik il column hethi dima fil le5er-->
    <ng-container matColumnDef="Actions" stickyEnd>
        <th mat-header-cell class="px-12" *matHeaderCellDef>Actions </th>
        <td mat-cell class="px-12" *matCellDef="let element">
            <button mat-icon-button color="primary"  routerLink="{{element.id}}/edit">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="delete(element.id)">
                <mat-icon>delete</mat-icon>
            </button>

        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of Employees"></mat-paginator>

<br/><br/>
